html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: helvetica, arial;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pomodoro {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  perspective: 500px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.pomodoro .panel {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2em;
  backface-visibility: hidden;
}

.timer-view {
  transform: rotateY(180deg);
}

.pomodoro.flipped {
  transform: rotateY(180deg);
}

.settings-view input,
.settings-view label {
  display: block;
}

.timer {
  font-size: 2.5em;
  margin: 0.5em;
}

progress {
  width: 100%;
}
