html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

#root {
  flex: 1;
}

@media (min-width: 640px) {
  #root {
    width: 90%;
  }
}

body {
  margin: 0;
  font-family: helvetica, arial;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(150deg,
    #E55B5B,
    #F7B555,
    #6B8D97
  );
  background-size: 300%;
  animation-name: backgroundAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 50s;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  0% {
    background-position: 0% 0%;
  }
}
